.flexcontainer{
    border:1px solid blueviolet;
    display: flex;
    height: 90vh;
    /* justify-content: center; */
    /* align-items: center; */
    /*gap: 20px;*/
    /*flex-direction: row;*/
    /*align-items:center; */
    f/*lex-wrap: wrap;
    align-content: center;*/
}
/*wrap values: nowrap,wrap,wrap-reverse*/
/* values of justify-content:
flex-start,center,space-around,
space-between,space_evenly*/


/* values of flex direction
Row,row-reverse,column,column-reverse*/

/*values of align items 
flex-start,flex-end,center,baseline*/

 
.flexItem{
    background-color: blue;
    border: 2px solid rebeccapurple;
    color: tomato;
    font-size: 24px;
    height: 60px;
    width: 80px;
    ;
}
.flexItem:nth-child(1){
    order:1;
    align-self: flex-end;
}
.flexItem:nth-child(6){
    order:-1;
    align-self: flex-end;
}



    
